<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tracker Forecaster</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>Flask Tracker Forecaster</h1>

  <h2>API Token</h2>
  <form method="post" action="/">
    <div class="token-input">
      {{ form.hidden_tag() }}
      {{ form.token.label }}{{ form.token(size=40) }}
      <input type="submit" value="Verify">
    </div>
    {% if form.token.errors %}
      <div class="token-errors">
        {% for error in form.token.errors %}
          <span class="error-message">{{ error }}</span>
        {% endfor %}
      </div>
    {% endif %}
    <div class="token-reminder"><p>Don't know your token? Find it online
      <a href="https://www.pivotaltracker.com/profile#api">here</a> (login required).
    </p></div>
  </form>

  {% if projects %}
    <h2>Projects</h2>
    <ul class="project-list">
      {% for project in projects %}
        <li class="project-entry">
          <a href="{{ url_for('project', project_id=project.project_id) }}">
            <span class="project-entry-name">{{ project.project_name }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</body>
</html>